<h1>Editing equipamento</h1>

<%= render "form", equipamento: @equipamento %>

<br>

<div>
  <%= link_to "Show this equipamento", @equipamento %> |
  <%= link_to "Back to equipamentos", equipamentos_path %>
</div>
