<p style="color: green"><%= notice %></p>

<h1>Equipamentos</h1>

<div id="equipamentos">
  <% @equipamentos.each do |equipamento| %>
    <%= render equipamento %>
    <p>
      <%= link_to "Show this equipamento", equipamento %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Equipamento", new_equipamento_path, class: "btn btn-primary" %>
