<% if notice %>
  <p class="notice alert alert-primary" role="alert">
    <%= notice %>
  </p>
  <% elsif alert %>
    <p class="alert alert-primary" role="alert">
      <%= alert %>
    </p>
    <% end %>